@{
    ViewBag.Title = "Contact";
}
    <h4> Email: </h4>
    <p>Ztmallicoat@gmail.com</p>
    <h4> Phone: </h4>
    <p>(913)-827-2380</p>
    <h4> LinkedIn: </h4>
    <p>LinkedIn.com/ZacharyMallicoat</p>