<!-- Banner -->
<section id="banner" style="margin-left:-22%;margin-right:-22%">
    <div class="inner">
        <h1>
            HirMe: <span>
                Apply for jobs, for free!
            </span>
        </h1>
        <ul class="actions">
            <li>
                @if (User.IsInRole("Applicant") && Request.IsAuthenticated)
                {
                    <a href="../OpenPositions/Index" class="button alt">
                        Find An Opening
                    </a>
                }
                @if (!Request.IsAuthenticated)
                {
                    <a href="../Account/Login" class="button alt">
                        Sign Up/Log In
                    </a>
                }
            </li>
        </ul>
    </div>
</section>

<!-- One -->
@if (!Request.IsAuthenticated)
{
    <section id="one">
        <div class="inner">
            <header>
                <h2>What We Do Here</h2>
            </header>
            <p>As simple as it is, our service to you is job application.  Apply for any job that is available to you!</p>
            <ul class="actions">
                <li><a href="../Home/About" class="button alt">Learn More</a></li>
            </ul>
        </div>
    </section>
}
@if (User.IsInRole("Manager") || User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Manager Access</h3>
                    </header>
                    <div class="image fit">
                        <a href="../OpenPositions/Index.cshtml" class="button">Open Positions</a>
                    </div>
                    <p>You are a manager or admin so you can see this!</p>
                </div>
            </article>
            @if (User.IsInRole("Admin") && Request.IsAuthenticated)
            {

                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>Morbi interdum mol</h3>
                        </header>
                        <div class="image fit">
                            <img src="images/pic02.jpg" alt="" />
                        </div>
                        <p>You are an Admin so you can see this</p>
                    </div>
                </article>
            }
        </div>
    </section>
}

<!-- Three -->
<section id="three">
    <div class="inner">
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Apply</h3>
                </header>
                <p>From the comfort of your computer, apply for a job based on openings.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-diamond"></span>
                <header>
                    <h3>Wait</h3>
                </header>
                <p>Our managers will review your application and decide if you meet the requirements to join our team.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Job!</h3>
                </header>
                <p>Hopefully, we can say welcome to the crew!</p>
            </div>
        </article>
    </div>
</section>
