@model JobBoard.DATA.EF.Position

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center; margin-top:3%">
    @Html.DisplayFor(model => model.Title)
</h2>
<div>
    <hr />
    <p>
        <i>
            @Html.DisplayFor(model => model.JobDescription)
        </i>
    </h4>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
